@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");

body {
  font-family: "Dosis", sans-serif;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.parent {
  position: relative;
}
.personal_info {
  text-align: left;
  color: honeydew;
  height: 140px;
  background-image: url("background.jpg");
  background-color: rgb(59, 59, 59);
  margin-top: -27px;
  border-bottom: 1mm solid rgb(231, 90, 8);
}
.profile_pic {
  border-radius: 200px;

  position: absolute;
  overflow: hidden;
  height: 200px;
  width: 200px;
  top: 50px;
  margin-left: 30px;
}
.tab {
  overflow: hidden;
  position: absolute;
  top: 93px;
  right: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  color: honeydew;
  float: right;
  border: none;

  cursor: pointer;
  padding: 14px 20px;
  transition: 0.3s;
  border-top: 1px solid grey;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-top: 2px solid rgb(231, 90, 8);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(231, 90, 8);
  border-top: 3px solid rgb(231, 90, 8);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;

  border-top: none;
}
